<footer>
  <%= image_pack_tag 'media/images/logo-2.svg', class:"footer-logo" %>
  <div class="footer-socials">
    <a href="https://www.facebook.com/codersgyan"><%= image_pack_tag 'media/images/facebook.svg' %></a>
    <a href="https://twitter.com/CoderGyan"><%= image_pack_tag 'media/images/twitter.svg' %></a>
    <a href="#"> <%= image_pack_tag 'media/images/pintrest.svg' %></a>
    <a href="https://www.instagram.com/codersgyan/"><%= image_pack_tag 'media/images/instagram.svg' %></a>
  </div>
  <div class="copyright">
    Copyright 2020 © Coder's Gyan
  </div>
</footer>