<section id="about" class="about">
  <div class="container flex items-center about-inner-wrap">
    <div class="flex-1">
     	<%= image_pack_tag 'media/images/man-2.png' %>
    </div>
    <div class="flex-1 right">
      <h1>About <span>Me</span></h1>
      <h3>Hello! i’m Rudy Zikianda.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
      labore et
      dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <div class="social">
        <a href="#"><%= image_pack_tag 'media/images/pintrest.svg' %></a>
        <a href="#"><%= image_pack_tag 'media/images/facebook.svg' %></a>
        <a href="#"><%= image_pack_tag 'media/images/twitter.svg' %></a>
        <a href="#"> <%= image_pack_tag 'media/images/pintrest.svg' %></a>
      </div>
    </div>
  </div>
</section>