<section id="services" class="services">
  <div class="container">
    <h1 class="section-heading"><span>Our </span>Services</h1>
    <p>We provide high standar clean website for your business solutions</p>
    <div class="card-wrapper">
      <div class="card">
     		<%= image_pack_tag 'media/images/brush.svg' %>
        <h2>Graphic Design</h2>
        <p>There are many variations of passages of but the majority have suffered alteration in some form.</p>
      </div>
      <div class="card">
       	<%= image_pack_tag 'media/images/code.svg' %>
        <h2>Graphic Design</h2>
        <p>There are many variations of passages of but the majority have suffered alteration in some form.</p>
      </div>
      <div class="card">
       	<%= image_pack_tag 'media/images/bag.svg' %>
        <h2>Graphic Design</h2>
        <p>There are many variations of passages of but the majority have suffered alteration in some form.</p>
      </div>
      <div class="card">
       	<%= image_pack_tag 'media/images/desktop.svg' %>
        <h2>Graphic Design</h2>
        <p>There are many variations of passages of but the majority have suffered alteration in some form.</p>
      </div>
      <div class="card">
       	<%= image_pack_tag 'media/images/media.svg' %>
        <h2>Graphic Design</h2>
        <p>There are many variations of passages of but the majority have suffered alteration in some form.</p>
      </div>
      <div class="card">
       	<%= image_pack_tag 'media/images/phone.svg' %>
        <h2>Graphic Design</h2>
        <p>There are many variations of passages of but the majority have suffered alteration in some form.</p>
      </div>
    </div>
  </div>
</section>